@{
    ViewBag.Title = "AboutMe";
}

<h2>Something About Myself</h2>
<h5>About Me......</h5>
<br />
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-8">
            <h2>Bio</h2>
            <p>Hi there, my name is Moses and surname is Maenetje. I was born and raised in Limpopo. I'm a very quiet person who does enjoy his own space. However, i do enjoy being with other people especially in the group where we seek to accomplish a shared goal as a group. In my spare time, i usually read articles and watch soccer, cricket, and rugby.  </p>
        </div>
        <div class="col-lg-4">
            <h2>Moses</h2>
            <img src="~/AboutMe/IMG_20210710_143219.jpg" style="height:350px;width:300px" />
        </div>
    </div>
</div>

